node_modules/
.next/
out/
dist/

.env
.env*.local
!.env.local.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
next-start.log
next-start.err.log
next-start.pid
tsconfig.tsbuildinfo
